
p {
  text-align: center;
}
/* main image */
.title-image {
    width: 45%;
    height: 30%;
    padding-top: 10px; 
    margin: 0 auto;
}
/* images in right sidebar */
.hot-image {
    width: 90%;
    height: 90%;
    padding-top: 10px; 
    margin: 0 auto;
}

/* Style the navigation menu */
.main-nav {
  width: 100%;
  background: #444;
  min-height: 60px;

  /*position: fixed;*/
  text-align: left;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 10 auto;
  padding: 10px;
}

.main-nav input[type=text] {
  float: right;
  padding: 8px;
  margin: auto;
  font-size: 16px;
}
.main-nav .search-bar {
	float: right;
	padding-left: 40px;
}
li {
	color: azure;
}
/* right sidebar */
aside {
  background: #444;
  height: 960px;
  width: 110px;
  color: #fff;
  float: right;
  padding: 30px;
  font-size: 12px;

}

aside .widget {
  margin: 50px 0;
}

/* border holders(please remove when finished with project) */

#about {
	border-style: dotted;
}

#welcome {
	border-style: dotted;
}